
#sky{
    color:blue;
}

#forest{
    color:green;
}

#abc{
    font-size:10px;
}

#big{
    font-size:50px;
}

.japan{
    color:gray;
}

.english{
    color:brown;
}

.omoji{
    font-size:20px;
}

.komoji{
    font-size:10px;
}